.customer {
  .section {
    padding: 80px 20px 170px 20px;
    @include tablet {
      padding: 121px 74px 192px;
    }
    @include desktop {
      padding: 123px 178px 234px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
    @include tablet {
      gap: 19px;
    }
  }
  .customer__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include tablet {
      gap: 24px;
    }
    .customer__box {
      background-color: getColor('customer-grey');
      width: 100%;
      padding: 43px 65px 20px 60px;
      text-align: center;
      @include tablet {
        padding: 47px 80px 34px;
      }
    }
    .underline__block {
      background-image: linear-gradient(
        transparent,
        transparent calc(3ch - 1px),
        getColor('grey-accent') 0px
      );
      background-size: 100% 3ch;
      line-height: 3ch;
    }
    .customer__text {
      position: relative;
      font-family: 'DM Sans';
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 2.55;
      z-index: 1;
      @include tablet {
        font-size: 14px;
        line-height: 2.16;
        letter-spacing: 0.04em;
      }
      @include desktop {
        font-size: 15px;
        line-height: 1.86;
      }
    }
  }
  &__svg {
    position: absolute;
    fill: getColor('grey-accent');
    top: -27px;
    left: -25px;
    z-index: -1;
  }
  &__circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    .circle {
      position: relative;
      width: 4px;
      height: 4px;
      background-color: getColor('circle-color');
      border-radius: 50%;
      &::after {
        content: '';
        left: 10px;
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: getColor('circle-color');
        border-radius: 50%;
      }
      &::before {
        content: '';
        right: 10px;
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: getColor('circle-color');
        border-radius: 50%;
      }
    }
    .customer__location {
      font-family: 'DM Sans';
      font-weight: 500;
      font-size: 14px;
      line-height: 1.86;
      @include tablet {
        font-size: 16px;
      }
      @include desktop {
        font-size: 20px;
      }
    }
  }
  &__home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      padding-top: 11px;
    }
    .circle {
      position: relative;
      width: 12px;
      height: 12px;
      background-color: getColor('home-grey');
      border-radius: 50%;
      &::after {
        content: '';
        left: 28px;
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: getColor('home-grey');
        border-radius: 50%;
      }
      &::before {
        content: '';
        right: 28px;
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: getColor('home-grey');
        border-radius: 50%;
      }
    }
  }
}
