/* 
=====================================
=====================================
              GENERAL
=====================================
=====================================
*/

/* RESET
============================================= */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p,
span {
  padding: 0;
  margin: 0;
  user-select: none;
  list-style: none;
  text-decoration: none;
}

/* BODY
============================================= */
body {
  font-family: 'Titan One', 'DM Sans', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/* CONTAINER (CENTERING AND WIDTH)
============================================= */
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* SECTION (TOP AND BOTTOM PADDING)
============================================= */
.section {
  padding: 60px 20px;
}

/* HIDDING ELEMENT 
============================================= */
.is-hidden {
  @include mobile {
    display: none;
  }
  @include tablet {
    &--tablet {
      display: none;
    }
  }
  @include desktop {
    display: flex;
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
  text-align: center;
  &--small {
    color: getColor('full-pinky');
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
  }
  &--big {
    color: getColor('dark-pink');
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}
