.header {
  position: relative;
  overflow: hidden;
  background-color: getColor('pinky');
  height: 502px;
  &__box {
    display: flex;
    flex-direction: column;
    gap: 137px;
    @include tablet {
      gap: 15px;
    }
    @include desktop {
      gap: 84px;
    }
  }
  .container {
    @include tablet {
      max-width: 768px;
      margin: 0 auto;
      position: inherit;
    }
    @include desktop {
      max-width: 1200px;
    }
  }
  .section {
    padding: 0 20px;
    @include tablet {
      padding: 0 37px;
    }
    @include desktop {
      padding: 0 46px;
    }
  }
  @include tablet {
    height: 399px;
  }
  @include desktop {
    height: 665px;
  }
}

/* TOP CONTAINER WITH LOGO AND BURGER */
.header__top {
  /* if z-index is 2, and z-index in header__center is 1, then text is visible as first */
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;

  &--buttons {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  @include tablet {
    padding-top: 37px;
  }
  &--navigation {
    .navigation__list {
      display: flex;
      gap: 35px;

      font-family: 'DM Sans';
      font-weight: 700;
      color: getColor('semi-white');
    }
  }
}

.burger {
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;

  &__button {
    width: 20px;
    height: 1px;
    background-color: getColor('dark-pink');
    &::after {
      content: '';
      bottom: 3px;
      width: 20px;
      height: 1px;
      background-color: getColor('dark-pink');
      position: absolute;
    }
    &::before {
      content: '';
      top: 3px;
      width: 20px;
      height: 1px;
      background-color: getColor('dark-pink');
      position: absolute;
    }
  }

  @include desktop {
    display: none;
  }
}
/* CENTER CONTAINER WITH ICE AND GIRL */
.header__center {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 419px;
  @include tablet {
    right: 461px;
  }
  @include desktop {
    right: 730px;
  }

  &--circle {
    width: 345px;
    height: 344px;
    background-color: getColor('full-pinky');
    border-radius: 50%;
    position: absolute;
    @include tablet {
      width: 324px;
      height: 322px;
      top: 70px;
    }
    @include desktop {
      width: 538px;
      height: 538px;
      top: -155px;
    }
  }
  .ice__images {
    position: absolute;
    left: 81px;
    bottom: -3px;
    @include tablet {
      bottom: -20px;
    }
    @include desktop {
      bottom: -45px;
      left: 119px;
    }
  }
}

.header__content {
  /* if z-index is 2, and z-index in header__center is 1, then text is visible as first */
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
/* LEFT CONTAINER WITH TITLE */
.header__left {
  width: 162px;
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  &--show {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @include desktop {
      gap: 25px;
      padding-left: 69px;
    }
  }

  @include tablet {
    gap: 20px;
    &--hide {
      display: flex;
    }
  }
  @include desktop {
    gap: 56px;
    width: 311px;
    &--hide {
      padding-left: 31px;
    }
  }

  &--title {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    @include tablet {
      font-size: 22px;
      line-height: 1.14;
    }
    @include desktop {
      font-size: 38px;
    }
  }
  &--span {
    font-size: 48px;
    line-height: 0.96;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    @include tablet {
      font-size: 34px;
      line-height: 0.91;
    }
    @include desktop {
      font-size: 58px;
    }
  }

  &--buttons {
    display: flex;
    gap: 8px;
    @include desktop {
      gap: 15px;
    }
  }
}

.button {
  border-radius: 20px;
  border: none;
  font-family: 'DM Sans';

  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  padding: 10px 37.23px;

  &--small {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    padding: 7px 14.5px;
    @include desktop {
      font-size: 14px;
      line-height: 1.28;
      padding: 8px 19px;
    }
  }
  &--red {
    background-color: getColor('dark-pink');
    color: getColor('semi-white');
  }
  &--white {
    background-color: getColor('semi-white');
    color: getColor('dark-pink');
  }
}
.header__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 6px;
  gap: 8px;
  @include desktop {
    gap: 20px;
  }
}
.header__paragraph {
  height: 48px;
  width: 114px;
  font-family: 'DM Sans';
  font-size: 8px;
  line-height: 1.5;
  color: getColor('semi-white');
  @include desktop {
    width: 200px;
    height: 78px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.header__right {
  &--hide {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .information__boxes {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: column;
    gap: 13px;
    @include desktop {
      gap: 15px;
    }
  }
  .information__box {
    position: relative;
    .information__paragraph {
      font-family: 'DM Sans';
      font-weight: 400;
      font-size: 8px;
      line-height: 1.25;
      text-align: right;
      color: getColor('semi-white');
      width: 92px;
      padding-right: 8px;
      @include desktop {
        font-size: 14px;
        padding-right: 18px;
      }

      &::first-line {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.14;
        letter-spacing: 0.04em;
        margin-bottom: 13px;
        color: getColor('dark-pink');
        @include desktop {
          font-size: 46px;
        }
      }
    }
    &::after {
      content: '';
      background-color: getColor('semi-white');
      width: 16px;
      height: 16px;
      position: absolute;
      border-radius: 50%;
      top: 0;
      right: 0;
      z-index: -1;
      @include desktop {
        width: 30px;
        height: 30px;
      }
    }
  }
  .girl__images {
    position: absolute;
    bottom: -20px;
    right: 34px;
    @include desktop {
      bottom: -45px;
    }
  }
}
