<section class="contacts" id="contacts">
  <div class="container section">
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__item--text">
          <span class="contacts__item--title contacts__item--title--coffee">CAFE</span>
        </div>
        <div class="contacts__item--content">
          <span class="contacts__item--city"> Chicago </span>
          <p class="contacts__item--description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__item--content">
          <div class="contacts__item--content--box">
            <span class="contacts__item--days"> Monday - Friday </span>
            <p class="contacts__item--time contacts__item--description--pink">
              06:00 AM - 10:00 PM
            </p>
          </div>

          <div class="contacts__item--content--box">
            <span class="contacts__item--days"> Monday - Friday </span>
            <p class="contacts__item--time contacts__item--description--pink">
              06:00 AM - 10:00 PM
            </p>
          </div>
        </div>
        <div class="contacts__item--content">
          <ul class="contacts__list--contact">
            <li class="contacts__item--contact">
              <a class="contacts__item--link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            </li>
            <li class="contacts__item--contact">
              <a class="contacts__item--link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__item--text">
          <span class="contacts__item--title contacts__item--title--green">FOODTRUCK</span>
        </div>
        <div class="contacts__item--content">
          <span class="contacts__item--city"> Los Angeles </span>
          <p class="contacts__item--description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__item--content">
          <div class="contacts__item--content--box">
            <span class="contacts__item--days"> Monday - Friday </span>
            <p class="contacts__item--time contacts__item--description--pink">
              06:00 AM - 10:00 PM
            </p>
          </div>

          <div class="contacts__item--content--box">
            <span class="contacts__item--days"> Monday - Friday </span>
            <p class="contacts__item--time contacts__item--description--pink">
              06:00 AM - 10:00 PM
            </p>
          </div>
        </div>
        <div class="contacts__item--content">
          <ul class="contacts__list--contact">
            <li class="contacts__item--contact">
              <a class="contacts__item--link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            </li>
            <li class="contacts__item--contact">
              <a class="contacts__item--link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__item--text">
          <span class="contacts__item--title contacts__item--title--coffee">CAFE</span>
        </div>
        <div class="contacts__item--content">
          <span class="contacts__item--city"> New York </span>
          <p class="contacts__item--description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__item--content">
          <div class="contacts__item--content--box">
            <span class="contacts__item--days"> Monday - Friday </span>
            <p class="contacts__item--time contacts__item--description--pink">
              06:00 AM - 10:00 PM
            </p>
          </div>

          <div class="contacts__item--content--box">
            <span class="contacts__item--days"> Monday - Friday </span>
            <p class="contacts__item--time contacts__item--description--pink">
              06:00 AM - 10:00 PM
            </p>
          </div>
        </div>
        <div class="contacts__item--content">
          <ul class="contacts__list--contact">
            <li class="contacts__item--contact">
              <a class="contacts__item--link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            </li>
            <li class="contacts__item--contact">
              <a class="contacts__item--link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="contacts__buttons">
      <button class="contacts__button button button--red">
        Our Location
        <svg width="8" height="10px">
          <use class="button__icon" xlink:href="./images/svg/icons.svg#icon-arrow"></use>
        </svg>
      </button>
      <button class="contacts__button button button--white">
        Franchise
        <svg width="8" height="10px">
          <use class="button__icon" xlink:href="./images/svg/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
