<section class="customer">
  <div class="container section">
    <!-- 320px -->
    <img
      class="customer__image"
      srcset="./images/customers/customer-1.png 1x, ./images/customers/customer-1-2x.png 2x"
      alt="image of cow"
      width="85px"
    />
    <div class="customer__content">
      <div class="customer__box">
        <div class="underline__block">
          <span class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            <svg class="customer__svg" width="40px" height="54px">
              <use xlink:href="./images/svg/icons.svg#icon-quote"></use>
            </svg>
          </span>
        </div>
      </div>
      <div class="customer__circle">
        <div class="circle"></div>
        <span class="customer__location">Emily, Los Angeles</span>
      </div>
      <div class="customer__home">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</section>
