<section class="customer">
  <div class="container section">
    <!-- 320px -->
    <img
      class="customer__image"
      srcset="./images/customers/customer-1.png 1x, ./images/customers/customer-1-2x.png 2x"
      alt="image of cow"
      width="85px"
    />
    <div class="customer__content">
      <div class="customer__box">
        <p class="customer__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>
  </div>
</section>
