<section class="footer">
  <div class="container section">
    <div class="footer__text">
      <span class="footer__span footer__span--small">HOMEMADE ICE SCREAM MADE</span>
      <span class="footer__span footer__span--big">WITH PASSION</span>
    </div>
    <div class="footer__socials">
      <div class="footer__icons">
        <div class="footer__svg">
          <svg width="18.82px" height="18.82px">
            <use class="footer__icon" xlink:href="./images/svg/icons.svg#icon-github"></use>
          </svg>
        </div>
        <div class="footer__svg">
          <svg width="19.2px" height="14.93px">
            <use class="footer__icon" xlink:href="./images/svg/icons.svg#icon-telegram"></use>
          </svg>
        </div>
        <div class="footer__svg">
          <svg width="8.8px" height="19.2px">
            <use class="footer__icon" xlink:href="./images/svg/icons.svg#icon-facebook"></use>
          </svg>
        </div>
      </div>
      <div class="footer__phone">
        <span class="footer__phone--text"
          >Feel free to contact
          <a class="footer__phone--link" href="tel:+61(0)383766284">+61 (0) 383 766 284</a></span
        >
      </div>
    </div>
  </div>
  <footer class="footer__bottom">
    <span class="footer__bottom--span">© 2019 - IceCream. All Rights Reserved. </span>
  </footer>
</section>
