<section class="products" id="products">
  <div class="container section">
    <div class="title">
      <h3 class="title--small">100% NATURAL</h3>
      <h2 class="title--big">PRODCUCTS</h2>
    </div>
    <div class="products__content">
      <ul class="products__list">
        <li class="products__item products__item--pink">
          <div class="content__move">
            <picture class="products__images">
              <!-- 1200px -->
              <source
                class="products__image"
                srcset="
                  /images/desktop/products/ice-1.png     1x,
                  ./images/desktop/products/ice-1-2x.png 2x
                "
                media="(min-width: 1280px)"
                width="335px"
                height="335px"
              />
              <!-- 768px -->
              <source
                class="products__image"
                srcset="
                  /images/tablet/products/ice-1.png     1x,
                  ./images/tablet/products/ice-1-2x.png 2x
                "
                media="(min-width: 768px)"
                width="220px"
                height="226px"
              />
              <!-- 320px -->
              <img
                class="products__image"
                srcset="
                  ./images/mobile/products/ice-1.png    1x,
                  ./images/mobile/products/ice-1-2x.png 2x
                "
                alt="image of Product Designer"
                width="252px"
              />
            </picture>
            <div class="products__info">
              <div class="products__info--title">ICE CREAM</div>
              <div class="products__info--circle">
                <div class="circle"></div>
              </div>
              <p class="products__info--text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et. dolore magna aliqua facilisis.
              </p>
              <img
                class="arrow__image"
                srcset="./images/mobile/products/arrow.png 1x, ./images/general/arrow-2x.png 2x"
                alt="image of arrow"
                width="40px"
              />
            </div>
          </div>
        </li>
        <li class="products__item products__item--coffee">
          <div class="content__move">
            <picture class="products__images">
              <!-- 1200px -->
              <source
                class="products__image"
                srcset="
                  /images/desktop/products/ice-2.png     1x,
                  ./images/desktop/products/ice-2-2x.png 2x
                "
                media="(min-width: 1280px)"
                width="335px"
                height="335px"
              />
              <!-- 768px -->
              <source
                class="products__image"
                srcset="
                  /images/tablet/products/ice-2.png     1x,
                  ./images/tablet/products/ice-2-2x.png 2x
                "
                media="(min-width: 768px)"
                width="220px"
                height="226px"
              />
              <!-- 320px -->
              <img
                class="products__image"
                srcset="
                  ./images/mobile/products/ice-2.png    1x,
                  ./images/mobile/products/ice-2-2x.png 2x
                "
                alt="image of Product Designer"
                width="252px"
              />
            </picture>
            <div class="products__info">
              <div class="products__info--title">ICE CEFFEE</div>
              <div class="products__info--circle">
                <div class="circle"></div>
              </div>
              <p class="products__info--text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et. dolore magna aliqua facilisis.
              </p>
              <img
                class="arrow__image"
                srcset="./images/mobile/products/arrow.png 1x, ./images/general/arrow-2x.png 2x"
                alt="image of arrow"
                width="40px"
              />
            </div>
          </div>
        </li>
        <li class="products__item products__item--green">
          <div class="content__move">
            <picture class="products__images">
              <!-- 1200px -->
              <source
                class="products__image"
                srcset="
                  /images/desktop/products/ice-3.png     1x,
                  ./images/desktop/products/ice-3-2x.png 2x
                "
                media="(min-width: 1280px)"
                width="335px"
                height="335px"
              />
              <!-- 768px -->
              <source
                class="products__image"
                srcset="
                  /images/tablet/products/ice-3.png     1x,
                  ./images/tablet/products/ice-3-2x.png 2x
                "
                media="(min-width: 768px)"
                width="220px"
                height="226px"
              />
              <!-- 320px -->
              <img
                class="products__image"
                srcset="
                  ./images/mobile/products/ice-3.png    1x,
                  ./images/mobile/products/ice-3-2x.png 2x
                "
                alt="image of Product Designer"
                width="252px"
              />
            </picture>
            <div class="products__info">
              <div class="products__info--title">MILKSHAKES</div>
              <div class="products__info--circle">
                <div class="circle"></div>
              </div>
              <p class="products__info--text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et. dolore magna aliqua facilisis.
              </p>
              <img
                class="arrow__image"
                srcset="./images/mobile/products/arrow.png 1x, ./images/general/arrow-2x.png 2x"
                alt="image of arrow"
                width="40px"
              />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
