.about {
  background-color: getColor('light-pink');
  .section {
    padding: 125px 20px 97px;
    @include tablet {
      padding: 130px 39px 246px 36px;
    }
    @include desktop {
      padding: 125px 112px 310px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 39px;
    @include tablet {
      gap: 66px;
    }
  }
  &__how {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    @include tablet {
      gap: 50px;
    }
    @include desktop {
      gap: 55px;
    }
    &__content {
      display: grid;
      flex-direction: column;
      gap: 46px;
      @include tablet {
        flex-direction: row;
        gap: 62px;
        grid-column-gap: 17px;
      }
      @include desktop {
        grid-column-gap: 74px;
      }
      .buttons {
        grid-column-start: 1;
        grid-template-columns: 176px;
        padding: 0 30px;
        @include tablet {
          grid-column-start: 2;
          padding: 0;
        }
        @include desktop {
          grid-row-start: 1;
          align-items: center;
          display: grid;
          padding-top: 274px;
        }
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 30px;
    grid-column-start: 1;
    @include tablet {
      grid-column-start: 2;
      justify-content: flex-end;
      padding: 0;
    }
    @include desktop {
      grid-row-start: 1;
      justify-content: flex-start;
      padding-top: 51px;
    }
    &--text {
      font-family: 'DM Sans';
      font-weight: 500;
      font-size: 12px;
      line-height: 1.62;
      color: getColor('grey-text');

      @include tablet {
        font-size: 14px;
        line-height: 1.76;
        letter-spacing: 0.04em;
      }

      @include desktop {
        line-height: 1.94;
      }
    }
    &--text:first-child {
      color: getColor('black');
      letter-spacing: 0em;
      @include desktop {
        font-size: 16px;
      }
    }
  }

  &__adventages {
    .adventages__list {
      display: flex;
      flex-direction: column;
      gap: 38px;
      @include tablet {
        flex-direction: row;
        gap: 60px;
      }
      @include desktop {
        gap: 30px;
      }
    }
    .adventages__item {
      display: flex;
      flex-direction: column;
      gap: 16px;
      @include tablet {
        gap: 13px;
      }
      @include desktop {
        gap: 15px;
      }
    }
    .adventages__title {
      font-weight: 400;
      font-size: 36px;
      line-height: 1.14;
      letter-spacing: 0.04em;
      color: getColor('dark-pink');
      @include tablet {
        font-size: 48px;
        padding-top: 23px;
        line-height: 1.145;
      }
      @include desktop {
        font-size: 58px;
        line-height: 1.14;
        padding-top: 25px;
      }
    }
    .adventages__text {
      width: 230px;
      font-family: 'DM Sans';
      font-weight: 700;
      font-size: 12px;
      line-height: 1.7;
      @include tablet {
        width: 180px;
        font-size: 14px;
      }
      @include desktop {
        width: 330px;
        font-size: 16px;
        line-height: 1.76;
        letter-spacing: 0.02em;
      }
    }
  }
}
