.products {
  .container {
    display: flex;
    flex-direction: column;
    gap: 144px;
    @include desktop {
      gap: 259px;
    }
  }
  .section {
    padding: 121px 20px 98px;
    @include tablet {
      padding: 122px 34px 112px;
    }
    @include desktop {
      padding: 127px 116px 119px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 130px;
    @include tablet {
      flex-direction: row;
      gap: 20px;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    position: relative;
    width: 280px;
    height: 485px;
    border-radius: 24px;
    @include tablet {
      width: 220px;
      height: 485px;
    }
    @include desktop {
      width: 329px;
      height: 525px;
    }
    &--pink {
      background-color: getColor('medium-pinky');
    }
    &--coffee {
      background-color: getColor('coffee');
    }
    &--green {
      background-color: getColor('green');
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include desktop {
      gap: 32px;
    }
    align-items: center;
    color: getColor('semi-white');

    font-family: 'Titan One';
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;

    &--title {
      letter-spacing: 0.04em;
      line-height: 1.15;
      @include desktop {
        font-size: 30px;
        line-height: 1.13;
      }
    }
    &--text {
      width: 200px;
      height: 124px;
      font-family: 'DM Sans';
      font-size: 14px;
      line-height: 1.52;
      @include tablet {
        width: 180px;
        line-height: 1.76;
        overflow: hidden;
      }
      @include desktop {
        width: 241px;
        height: 106px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.76;
        overflow: hidden;
      }
    }
    &--circle {
      .circle {
        position: relative;
        width: 6px;
        height: 6px;
        background-color: getColor('semi-white');
        border-radius: 50%;
        &::after {
          position: absolute;
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 50%;
          left: -10px;
          background-color: getColor('semi-white');
        }
        &::before {
          position: absolute;
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 50%;
          right: -10px;
          background-color: getColor('semi-white');
        }
      }
    }
  }
  .content__move {
    top: -116px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    @include tablet {
      top: -103px;
      gap: 30px;
    }
    @include desktop {
      top: -205px;
      gap: 30px;
    }
    .arrow__image {
      padding-top: 10px;
      @include desktop {
        padding-top: 30px;
      }
    }
  }
}
